/*-------------General-------------*/

html {
    position: relative;
    min-height: 100%;
}

.container {
    padding: 20px 50px;
}

body {
    padding-bottom: 90px;
    font-family: 'Source Sans Pro', sans-serif;
}

.text-prim {
    color: white;
}

h1 {
    padding-bottom: 15px;
}

h2 {
    font-size: x-large;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
}

h3 {
    font-size: medium;
    font-weight: bold;
}


.background-primary {
    background-color: #46494C;
}

.frame {
    padding: 10px;
    border-style: solid;
    border-color: #8D99AE;
    border-width: thin;
}

/*-------------Nav and Footer-------------*/

#logo {
    color: #85C65D;
    font-size: x-large;
}

footer {
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

.social-media a i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    color: white;
    transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
}

.social-media a i:hover {
    color: #8D99AE;
}

.active_tab {
    font-weight: bold;
}

@media (min-width: 768px) {
    footer {
        height: 40px;
    }

    body {
        padding-bottom: 50px;
    }
}

/*-------------Register and Login-------------*/

.btn-mantis {
    background-color: #85C65D;
    color: #46494C;
}
.btn-mantis:hover {
    background-color: #4C7F2D;
    color: white;
}

.currency {
    text-align: right;
    padding-right: 15px;
}

/*-------------Tracker Page-------------*/

